*.ipynb_checkpoints
*.vscode
*path.py
*type.py
*path.hpp
*.pyc
*__pycache__*
*.so
*.run
calculations/C++/Examples/Python/*_examplePlot.pdf
calculations/C++/src/Rosenbrock
calculations/C++/src/RKF
calculations/C++/src/Interpolation
*.cosmoDat
*.axMDat
*.anFDat
*.xtx
*.aux 
*.log 
*.out 
*.bbl 
*.blg 
*.synctex.gz